{% extends 'visual/base.html' %}

{% block content %}
<body class="keen-dashboard">
  <br><br>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text success" for="inputGroupSelect01">Temperature</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      {% for crime in crimes  %}
      <option value="{{ crime }}">{{ crime }}</option>
      {% endfor %}
    </select>
  </div>

  <select style="width: 100%;"  class="js-example-basic-multiple" name="states[]" multiple="multiple">
    {% for crime in crimes  %}
    <option value="{{ crime }}">{{ crime }}</option>
    {% endfor %}
  </select>


  <div class="col-md-12">

    <form action="{% url 'makeForecast'  %}" method="post" id="forecast_form">
      {% csrf_token %}
      <b class="text-muted mb-3 mt-4 d-block">Chapitres des infractions</b>
      {% for Chapitre in listOfChapters  %}
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input crimeBox" id="{{ Chapitre }}" name="types[]" value="{{ Chapitre }}">
        <label class="custom-control-label" for="{{ Chapitre }}">{{ Chapitre }}</label>
      </div>
      {% endfor %}
      <br>
      <b class="text-muted mb-3 mt-4 d-block">Types des infractions</b>
      {% for crime in crimes  %}
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input crimeBox" id="{{ crime }}" name="types[]" value="{{ crime }}">
        <label class="custom-control-label" for="{{ crime }}">{{ crime }}</label>
      </div>
      {% endfor %}
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="start_date" class="col-form-label">Start date</label>
            <input class="form-control" name="startDate" type="date" value="2016-01-05" id="start_date">
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="end_date" class="col-form-label">End date</label>
            <input class="form-control" name="endDate" type="date" value="2016-03-05" id="end_date">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Submit</button>

    </form>
    <div class="row" >
      <div style="height: 600px; width: 100%" id="firstForecast"></div>
    </div>
    <div class="row">
      <div style="height: 600px; width: 100%" id="chartdiv"></div>
    </div>

      <!-- Plotly.js -->
    
    
    
      <div id="myDiv"></div>
    
   
{% endblock %}

{% block scripts %}

<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


 <script type="text/javascript">

  $(document).ready(function () {
    $('.js-example-basic-multiple').select2({
      placeholder: "Choisir un chapitre"
    });
  });
    var token = '{{csrf_token}}';
    $(document).on('submit', '#forecast_form', function (e) {

      e.preventDefault();
      var crimesSelected = [];
      $(".crimeBox:checked").each(function () {
        crimesSelected.push(this.value)
      });
      var arrest = [];
      $(".arrest:checked").each(function () {
        arrest.push(this.value)
      });
      $.ajax({
        headers: { "X-CSRFToken": token },
        type: 'POST',
        url: '../makeForecast',
        data: {
          types: crimesSelected,
          startDate: $("#start_date").val(),
          endDate: $("#end_date").val(),
         },
        dataType: 'json',

        success: function (result) {
          alert('success');
          forecastChart(result);
          forecastTrend(result);
          forecastAll(result);
        },
        error: function (msg) {
          alert('no response');
        }
      });
    });
  </script>
  {% endblock %}
  </body>
</html>

