{% extends 'visual/base.html' %}
{% block page_name %} Bienvenue {% endblock %}
{% block content %}

                    <div class="row">
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="../../static/visual/assets/images/card/dataVis.jpg" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Visualisation dynamique et interactive.</h5>
                                    <a href="/vis/home/" class="btn btn-primary">Consulter</a>
                                    <a href="#" class="btn btn-danger">Voir tutorial</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="../../static/visual/assets/images/card/mapVis.gif" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Visualisation sur une carte geopgraphique et heatmap</h5>
                                    <a href="/vis/map/" class="btn btn-primary">Consulter</a>
                                    <a href="#" class="btn btn-danger">Voir tutorial</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="../../static/visual/assets/images/card/knowl.jpeg" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Extraction de connaissances : clustering et ACP</h5>
                                    <a href="/vis/cluster-district/" class="btn btn-primary">Consulter</a>
                                    <a href="#" class="btn btn-danger">Voir tutorial</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="../../static/visual/assets/images/card/forecast.jpg" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Prevision des crimes</h5>
                                    <a href="/predict/make/" class="btn btn-primary">Consulter</a>
                                    <a href="#" class="btn btn-danger">Voir tutorial</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="../../static/visual/assets/images/card/rep.jpg" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Repporting et sauvegarde des resultats </h5>
                                    <p class="card-text">
                                    </p>
                                    <a href="/vis/home/" class="btn btn-primary">Consulter</a>
                                    <a href="#" class="btn btn-danger">Voir tutorial</a>
                                </div>
                            </div>
                        </div>
                    </div>



{% endblock %}


</body>

</html>
