{% extends 'visual/base.html' %}

{% block content %}
                <div class="row">
                    <div class="col-xl-3">
                        <div class="card mt-2">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="header-title mb-0"> Type de crimes </h4>
                                </div>
                                <div id="crime-type"></div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mt-2">
                                    <div class="seo-fact sbg2">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon">Number of crimes <a id="number-records"> : </a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mt-2">
                                    <div class="seo-fact sbg2">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon">New Users</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mt-2">
                                    <div class="seo-fact sbg2">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon">New Users</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-8">
                                <div class="card mt-2">
                                    <div class="card-body" id="timeline-container">
                                        <div class="row">
                                            <div class="col-sm-8 d-flex justify-content-between align-items-center">
                                                <h4 class="header-title mb-0">Timeline</h4>
                                                <a class="reset" href="javascript:dc.filterAll();dc.redrawAll()"; style="display:none;">Reset</a>
                                            </div>
                                            <div class="col-sm-4">
                                                <button class="pull-right btn btn-rounded btn-primary mb-3"  onclick="toPNG('time-chart', 'timeline')" ><span class="fa fa-download"></span></button>
                                            </div>
                                        </div>
                                        <div  id="time-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 coin-distribution">
                                <div class="card mt-2">
                                    <div class="card-body" id="pie-chart-container">
                                        <div class="row">
                                            <div class="col-sm-8 ">
                                                <h4 class="header-title mb-0">Taux d'arrestation</h4>
                                            </div>
                                            <div class="col-sm-4">
                                                <button class="pull-right btn btn-rounded btn-primary mb-3"  onclick="toPNG('arrest', 'arrest-chart')" ><span class="fa fa-download"></span></button>
                                            </div>
                                        </div>

                                        <div id="arrest"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-6 coin-distribution">
                                <div class="card mt-2">
                                    <div class="card-body" id="pie-chart-container">
                                        <div class="row">
                                            <div class="col-sm-8 ">
                                                <h4 class="header-title mb-0">Distribution par jour</h4>
                                            </div>
                                            <div class="col-sm-4">
                                                <button class="pull-right btn btn-rounded btn-primary mb-3"  onclick="toPNG('day-of-week-chart', 'jour-semaine')" ><span class="fa fa-download"></span></button>
                                            </div>
                                        </div>
                                        <div id="day-of-week-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                         <div class="col-xl-6 mt-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">Heat-Map</h4>
                                    <div id="map" style="width: 550px; height: 380px"></div>
                                </div>
                            </div>
                         </div>
                         <div class="col-xl-6 mt-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                            <div class="col-sm-8 ">
                                                <h4 class="header-title mb-0">Distribution géographique</h4>
                                            </div>
                                            <div class="col-sm-4">
                                                <button class="pull-right btn btn-rounded btn-primary mb-3"  onclick="toPNG('map2', 'jour-semaine')" ><span class="fa fa-download"></span></button>
                                            </div>
                                    </div>
                                    <div id="map2" style="width: 550px; height: 380px"></div>
                                </div>
                            </div>
                         </div>
                </div>


{% endblock %}

{% block scripts %}
    <script>
    //var req= $.getJSON('data/', function (data) {
        //console.log(data);
    //makeGraphs(JSON.parse(data));
    //})

    $.ajax({
        type:'GET',
        url: 'data/',
        /*beforeSend: function(){
            var spinner = new Spinner({color:'#fff', lines:12}).spin(target);
        },
        complete: function(){
            spinner.stop();
            //$('#image-loading').hide();

        },*/
        success : function (response) {
            console.log(JSON.parse(response));
            makeGraphs(JSON.parse(response));
            //$('#image-loading').hide();

        },
        error : function (error) {
            alert(error);
        }
    })


    </script>
{% endblock %}
</body>

</html>
